$bg-color: #0A0908;
$primary-color: #F3F3F4;
$accent-color: #C1C1C1;
$hover-color: gray;

.container 
    width: 65%
    display: flex
    flex-direction: column
    margin: auto

.hero
    display: flex
    flex-direction: column
    margin: auto
    padding-top: 10vh
    padding-bottom: 0vh
    width: 65%
    height: fit-content

.about, .experience, .contact, .projects
    padding-top: 10vh
    padding-bottom: 10vh
    width: 65%
    height: fit-content
    margin: auto

.about h1, .experience h1, .projects h1, .contact h1 
    border-bottom: $accent-color solid 1px   


.hero h1 
    margin-top: auto
    margin-bottom: auto
    font-size: 9ch
    padding-bottom: .5vh

.hero h2 
    color: $accent-color
    margin-top: auto
    margin-bottom: auto
    padding-bottom: .5vh

.hero p 
    margin-top: auto
    margin-bottom: auto


.contact p 
    padding-bottom: 5vh

.hero a:hover, .contact a:hover 
    background: $accent-color

.resume 
    display: flex
    margin: auto


.resume a 
    display: flex

.resume h2 
    color: $accent-color
    margin: auto


.resume a img 
    height: 50px

.skills
    display: flex
    height: fit-content;
    width: 40%

.skills ul 
    display: flex
    flex-direction: column
    height: 0

.skills li 

    border-radius: 50px
    width: 100px
    margin-bottom: 1vh
    



@media only screen and (max-width: 1080px)     
    .hero h1 
        font-size: 3em
    
    .container 
        width: 95%
    
    .skills
        flex-direction: column
        height: fit-content
        margin: auto
 