.experience-section
    width: 65%
    display: flex
    margin: auto
    flex-direction: column
    padding-bottom: 5vh

.experience
    display: flex
    flex-direction: column

@media only screen and (max-width: 1200px) 
    .experience-section
        width: 100%