$bg-color: #0A2239;
$primary-color: #F3F3F4;
$accent-color: #C1C1C1;
$hover-color: gray;

body
    font-family: 'Open Sans', sans-serif
    font-weight: 300
    background-color: $bg-color
    margin: 0 auto
    scroll-behavior: auto

h1, h2, h3, h4, h5, h6 
 font-family: 'Archivo', sans-serif
 font-weight: 500


p, li
    font-size: 18px

p 
    color: $primary-color

li  
    color: $primary-color

h1, h2, a 
    color: $primary-color

a 
    font-size: 18px
    text-decoration: none

a:visited 
    color: $primary-color

a:hover 
    color: $accent-color

@media only screen and (max-width: 1080px) 
    h1 
        font-size: 2em
    
    .sidebar 
        margin-left: 87.5vw
    
    
